<%- include('partials/header') %>
    <h1>Add Counter</h1><br>
    <form class="" action="/admins/addCounter" method="post">
      <label for="name">Counter Name</label><br>
      <input type="text" name="name" value=""><br>
      <br><button type="submit" name="button">Add Counter</button>
    </form>
<%- include('partials/footer') %>
