<%- include('partials/header') %>
  <div class="contatiner" style="width: 700px; height:670px; margin: auto; margin-top: 60px;">
    <h1>Efficiency is doing things right</h1>
    <h1>Effectivenesss is doing the right things</h1>
    <p>Don’t be fooled by the calendar. <br>There are only as many days in the year as you make use of. <br>One man gets only a week’s value out of a year while another man gets a full year’s value out of a week. </p>
    <div class="notif" style="margin:auto; position: relative;" >
    </div>
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Queue up from Home</h5>
        <p class="card-text">Come at the appointed time</p>
        <a href="/users/login" class="btn btn-primary">Login to Continue</a>
      </div>
    </div>
  </div>
    
<%- include('partials/footer') %>

