<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register Admin</title>
  </head>
  <body style="text-align:center;">
    <h1>Please Register Before Login</h1><br>
    <h3>Use form below</h3><br><br>
    <form class="" action="/admins/register" method="post">
      <label for="first_name">First Name:</label><br>
      <input type="text" name="first_name" value=""><br><br>
      <label for="last_name">Last Name:</label><br>
      <input type="text" name="last_name" value=""><br><br>
      <label for="username">Username:</label><br>
      <input type="text" name="username" value=""><br><br>
      <label for="password">Password:</label><br>
      <input type="password" name="password" value=""><br><br>
      <label for="email">Email:</label><br>
      <input type="text" name="email" value=""><br><br>
      <label for="birthdate">Birthdate:</label><br>
      <input type="date" name="birthdate" value=""><br><br>
      <label for="gender">Gender:</label><br>
      <input type="text" name="gender" value=""><br><br><br>
      <button type="Submit" name="button">Register</button>
    </form>
  </body>
</html>
